Order allow,deny 
Deny from 5.248.86.106 
Allow from all

php_flag magic_quotes_gpc 0

# выдача резальтатов сторго в utf-8
php_value default_charset UTF-8
# php_value mbstring.func_overload 4	Zend_Search_Lucene требует 4
AddDefaultCharset UTF-8

# режим работы CMS
<IfModule mod_env.c>
SetEnv ZETTA_MODE development
</IfModule>

# mod_rewrite
RewriteEngine on
RewriteBase /

# Убираем точку в конце домена
RewriteCond %{HTTP_HOST} ^(.*)\./?$ [NC]
RewriteRule ^(.*)$ http:\/\/%1/$1 [R=301,L]


# добавляем слеш в конце
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !.*\/mvc\/.*$
RewriteCond %{REQUEST_URI} !\..+$
RewriteCond %{REQUEST_URI} !(.*)/$
RewriteCond %{REQUEST_METHOD} =GET
RewriteRule ^(.*[^/])$ http:\/\/%{HTTP_HOST}%{REQUEST_URI}/ [L,R=301]

# Редирект с www на сайт
RewriteCond %{HTTP_HOST} ^www\.(.*) [NC]
RewriteRule ^(.*)$ http:\/\/%1/$1 [R=301,QSA,L]

# библиотека файлов закрытых от доступа
RewriteRule zlib/.* zetta_quick.php

# генерация превью картинок
RewriteCond %{REQUEST_URI} UserFiles/(.+)\.(jpg|png)$ 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ zetta_quick.php

RewriteRule ^favicon.ico$  /UserFiles/images/favicon.ico

# Основные правила
RewriteCond %{REQUEST_URI} !/*.txt$
RewriteCond %{REQUEST_URI} !/*.xml$
RewriteCond %{REQUEST_URI} !favicon.ico$ 
RewriteCond %{REQUEST_URI} !public/.*
RewriteCond %{REQUEST_URI} !zlib/.*
RewriteCond %{REQUEST_URI} !Temp/.*
RewriteCond %{REQUEST_URI} !UserFiles/.*
RewriteCond %{REQUEST_URI} !zetta_quick.php
RewriteRule ^(.*)$ zetta.php

<files *.ini>
order deny,allow
deny from all
</files>
